<template>
    <form class="form" v-on:submit.prevent>
        <b-alert variant="warning" show v-show="canShowErrors">
            <ul>
                <li v-for="error in errors">
                    {{ error }}
                </li>
            </ul>
        </b-alert>
        <div class="form-body col-md-6">
            <h4 class="form-section">
                <i class="icon-head"></i> Personal Info
            </h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Enter user's name"
                               v-model="formData.name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email"
                               class="form-control"
                               placeholder="Enter user's email"
                               v-model="formData.email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               disabled
                               v-model="formData.password">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button"
                                    @click="handleGeneratePassword">Generate</button>
                            <button class="btn btn-default" type="button"
                                    @click="handleClearPassword">Clear</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="date_of_birth">Date Of Birth</label>
                        <input type="date"
                               class="form-control"
                               v-model="formData.date_of_birth">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Active</label>
                        <div class="input-group">
                            <label class="display-inline-block custom-control custom-radio ml-1">
                                <input type="radio"
                                       v-model="formData.is_active"
                                       value="1"
                                       class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description ml-0">Yes</span>
                            </label>
                            <label class="display-inline-block custom-control custom-radio">
                                <input type="radio"
                                       value="0"
                                       v-model="formData.is_active"
                                       class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description ml-0">No</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions col-md-12">
            <button type="submit"
                    data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Order"
                    ref="submitBtn"
                    class="btn btn-primary"
                    :disabled="loadingSubmitBtn"
                    @click="handleSave">
                <i v-if="!loadingSubmitBtn" class="icon-check2"></i>
                <i v-else-if="loadingSubmitBtn" class="icon-repeat2 icon-spin"></i>
                Save
            </button>
            <a v-bind:href="cancelUrl" class="btn btn-warning mr-1">
                <i class="icon-cross2"></i> Cancel
            </a>
        </div>
    </form>
</template>

<script>
    import randomString from 'randomstring'
    import axios from 'axios'

    export default {
        props: {
            cancelUrl: String,
            saveUrl: String
        },
        data: function () {
            return {
                formData: {
                    name: "",
                    email: "",
                    password: "",
                    date_of_birth: "",
                    is_active: 1
                },
                errors: [],
                loadingSubmitBtn: false
            }
        },
        computed: {
            canShowErrors: function() {
                if (this.errors.length > 0) {
                    return true
                }
                return false
            }
        },
        mounted() {
        },
        methods: {
            handleGeneratePassword: function () {
                this.formData.password = randomString.generate(8)
            },
            handleClearPassword: function() {
                this.formData.password = ""
            },
            handleSave: function() {
                let vm = this
                vm.loadingSubmitBtn = true
                vm.errors = []
                axios.post(this.saveUrl, this.formData).then((r) => {
                    vm.loadingSubmitBtn = false
                }).catch(e => {
                    if (e.response.status != 422) {
                        vm.errors = [e.response.data.error]
                    }
                    else {
                        for (let [k, v] of Object.entries(e.response.data.messageBag)) {
                            vm.errors.push(v[0])
                        }
                    }
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    vm.loadingSubmitBtn = false
                })
            }
        }
    }
</script>