<template>
    <div>
        <div class="input-group">
            <gmap-autocomplete v-bind:disabled="hasAddress" :value="formData.address" @place_changed="setAddress"
                               class="form-control"></gmap-autocomplete>
            <span class="input-group-btn" v-if="hasAddress">
                <button class="btn btn-danger" type="button" @click="reset">Clear</button>
            </span>
        </div>

        <input type="hidden" name="address" v-model="formData.address"/>
        <input type="hidden" name="lat" v-model="formData.lat"/>
        <input type="hidden" name="lng" v-model="formData.lng"/>
        <input type="hidden" name="suburb" v-model="formData.suburb"/>
        <input type="hidden" name="state" v-model="formData.state"/>
        <input type="hidden" name="postcode" v-model="formData.postcode"/>
        <p class="form-text text-muted">
            Your business address will be displayed on your website and all outgoing emails.
        </p>
        <gmap-map v-if="hasAddress"
                  :center="{lat:formData.lat, lng:formData.lng}"
                  :zoom="12"
                  map-type-id="terrain"
                  style="width: 100%; height: 300px"
        >
            <Gmap-Marker
                    v-if="hasAddress"
                    :position="{
          lat : formData.lat,
          lng: formData.lng,
        }"
            ></Gmap-Marker>
        </gmap-map>
        <address v-if="hasAddress">
            <strong v-html="formData.address"></strong><br />
            {{formData.suburb}} <br />
            {{formData.state}} <br />
            {{formData.country}} <br />
            {{formData.postcode}} <br />
        </address>
        <div v-if="!hasAddress">
            <div class="alert alert-warning mb-2" role="alert">
                <strong>Address not set yet!</strong><br/>Please enter your address above and choose one from the list.
            </div>
        </div>
    </div>
</template>

<script>
    import VueGoogleAutocomplete from 'vue-google-autocomplete'
    import _ from 'lodash'
    let addressStructure = {
        address: "",
        lat: "",
        lng: "",
        suburb: "",
        state: "",
        postcode: "",
        country: ""
    }

    export default {
        components: {VueGoogleAutocomplete},
        props: {
            address: String,
            lat: String,
            lng: String,
            suburb: String,
            state: String,
            postcode: String,
            country: String,
        },
        watch: {
            formData: {
                handler: function (formData, oldVal) {
                    if (_.trim(formData.address) == "") {
                        this.formData.lat = 0
                        this.formData.lng = 0
                    }
                },
                deep: true
            }
        },
        computed: {
            hasAddress: function () {
                if (this.formData.address && this.formData.lat && this.formData.lng) {
                    return true
                }
                return false
            }
        },
        data: function () {
            return {
                formData: addressStructure,
            }
        },
        mounted: function () {
            this.formData.address = this.address
            this.formData.lat = parseFloat(this.lat)
            this.formData.lng = parseFloat(this.lng)
            this.formData.suburb = this.suburb
            this.formData.state = this.state
            this.formData.postcode = this.postcode
            this.formData.country = this.country
            if (!this.hasAddress) {
                this.reset()
            }
        },
        methods: {
            setAddress(address) {
                console.log(address)
                this.formData.address = address.formatted_address
                this.formData.lat = address.geometry.location.lat()
                this.formData.lng = address.geometry.location.lng()
                for(let value of address.address_components) {
                    if (value['types'][0] == "locality") {
                        this.formData.suburb = value.long_name
                    } else if (value['types'][0] == "administrative_area_level_1") {
                        this.formData.state = value.long_name
                    } else if (value['types'][0] == "postal_code") {
                        this.formData.postcode = value.long_name
                    } else if (value['types'][0] == "country") {
                        this.formData.country = value.long_name
                    }
                }
            },
            reset() {
                this.formData.address = ""
                this.formData.suburb = ""
                this.formData.state = ""
                this.formData.postcode = ""
                this.formData.country = ""
                this.formData.lat = 0
                this.formData.lng = 0
            },
        }
    }
</script>